body {
  min-width: 950px;
  overflow: hidden;
  background: url("images/bgs/graphic.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-height: 750px) {
  #container {
    margin-top: 1% !important;
  }
}
.player {
  border-bottom: 1px solid rgba(166,166,166,0.73);
  border-top: 1px solid #bfbfbf;
  margin-top: -4px;
  width: auto;
  padding-top: 1.5%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  min-width: 700px;
  bottom: 0 !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  borderleft-radius: 10px;
  borderright-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e5e5));
}
.player div:not(.jquery-ui-like) {
  margin-left: 1%;
  display: inline-block;
  height: 30px;
  touch-callout: none;
  user-select: none;
  cursor: pointer;
}
.player img:hover {
  opacity: 0.8 !important;
}
.player img:active {
  opacity: 1 !important;
}
.flip {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);
  -moz-backface-visibility: hidden;
  -moz-transform: translateX(0);
}
.flip.out {
  -webkit-transform: rotateY(-90deg) scale(0.9);
  -webkit-animation-name: flipouttoleft;
  -webkit-animation-duration: 175ms;
  -moz-transform: rotateY(-90deg) scale(0.9);
  -moz-animation-name: flipouttoleft;
  -moz-animation-duration: 175ms;
}
.flip.in {
  -webkit-animation-name: flipintoright;
  -webkit-animation-duration: 225ms;
  -moz-animation-name: flipintoright;
  -moz-animation-duration: 225ms;
}
.flip.out.reverse {
  -webkit-transform: rotateY(90deg) scale(0.9);
  -webkit-animation-name: flipouttoright;
  -moz-transform: rotateY(90deg) scale(0.9);
  -moz-animation-name: flipouttoright;
}
.flip.in.reverse {
  -webkit-animation-name: flipintoleft;
  -moz-animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
}
@-moz-keyframes flipouttoleft {
  from {
    -moz-transform: rotateY(0);
  }
  to {
    -moz-transform: rotateY(-90deg) scale(0.9);
  }
}
@-webkit-keyframes flipouttoright {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
}
@-moz-keyframes flipouttoright {
  from {
    -moz-transform: rotateY(0);
  }
  to {
    -moz-transform: rotateY(90deg) scale(0.9);
  }
}
@-webkit-keyframes flipintoleft {
  from {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
  to {
    -webkit-transform: rotateY(0);
  }
}
@-moz-keyframes flipintoleft {
  from {
    -moz-transform: rotateY(-90deg) scale(0.9);
  }
  to {
    -moz-transform: rotateY(0);
  }
}
@-webkit-keyframes flipintoright {
  from {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
  to {
    -webkit-transform: rotateY(0);
  }
}
@-moz-keyframes flipintoright {
  from {
    -moz-transform: rotateY(90deg) scale(0.9);
  }
  to {
    -moz-transform: rotateY(0);
  }
}
#container {
  display: none;
  border: 1px solid rgba(166,166,166,0.73);
  width: 1000px;
  margin: 0px auto;
  height: 704px;
  margin-top: 5%;
  border-radius: 10px;
  border-radius: 10px;
}
#playedContainer {
  overflow: hidden;
  top: 0;
  height: 20px;
  margin-left: 0%;
  border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#played {
  height: 20px;
  margin-left: 0%;
  width: 0%;
  border-radius: 10px;
  border-radius: 10px;
  background: #3491bf;
}
#buffered {
  margin-left: 0%;
  border-radius: 10px;
  border-radius: 10px;
  width: 0%;
  background-color: rgba(131,131,131,0.6);
  position: absolute;
  height: 20px;
  top: 0;
}
#seekbar {
  margin-left: 4%;
  overflow: hidden;
  border-radius: 10px;
  border-radius: 10px;
  position: relative;
  width: 40%;
  background-color: rgba(155,155,155,0.2);
  height: 20px;
  margin-bottom: 5px;
}
.jquery-ui-like {
  background: #fff;
  position: absolute;
  margin: 25%;
  z-index: 10000;
  width: 50%;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
  height: 30px;
  overflow: hidden;
}
.jquery-ui-like-content {
  width: 100%;
  margin: 0% !important;
  display: inline-block;
  background-image: url("progressBar/pbar-ani.gif");
  height: 30px;
}
#volumeIndicator {
  width: 10%;
}
#level {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 0%;
  border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(131,131,131,0.6);
  height: 20px;
  margin-bottom: 5px;
}
#volume {
  margin-left: 5%;
  margin-right: 2%;
  position: relative;
  width: 12%;
  border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(155,155,155,0.2);
  height: 20px;
  margin-bottom: 5px;
}
#indicator,
#volumeIndicator {
  position: absolute;
  z-index: 3;
  width: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 4px;
}
#fader,
#stats,
#bgChanger,
#uploadFrameDisplayer,
#sharePopUp {
  display: none;
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute !important;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  z-index: 1000000000;
}
#fader p {
  position: absolute;
  top: 40%;
  left: 25%;
  font-family: myFirstFont;
  font-size: 20pt;
}
#statsPane span {
  margin: 0px;
}
#statsPane > div {
  position: relative;
  margin-left: 20%;
}
#statsPane > div > div {
  display: inline-block;
  margin: 3%;
  text-align: center;
  margin-left: 0px;
  margin-right: 5%;
  position: relative;
}
.statsDescriptors {
  vertical-align: super;
  width: 30%;
}
.statsIndicatorsContainers {
  vertical-align: sub;
  margin-right: 5px !important;
  width: 100px;
}
.statsIndicatorsContainersDistribution {
  vertical-align: sub;
  margin-right: 5px !important;
  width: 220px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}
.statsNumberContainers {
  vertical-align: super;
  color: rgba(128,128,128,0.59);
}
#statsPane,
#bgChangerPane,
#uploadFrameDisplayerPane,
#sharePopUpPane {
  font-family: myFirstFont;
  width: 50%;
  height: 60%;
  left: 25%;
  right: 25%;
  top: 20%;
  bottom: 30%;
  overflow: auto;
  position: relative;
  z-index: 1000;
  min-height: 50px;
  padding: 1px;
  white-space: normal;
  background-color: rgba(255,255,255,0.9);
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
#uploadFrameDisplayerPane,
#statsPane,
#bgChangerPane {
  height: 80%;
  top: 10%;
}
#uploadFrameDisplayerPane {
  padding: 0px;
}
#sharePopUpPane {
  width: 1000px;
  height: 80%;
  top: 10%;
  left: initial;
  right: initial;
  margin: auto;
  background: #ededed;
}
#shareSpanContainer {
  display: none;
  background: #fff;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
#sharePopUpPaneSpan {
  width: 100%;
  font-size: 12pt;
  font-family: myFirstFont;
  border: none;
  outline: none;
}
#statsPaneLabel {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  font-size: 20pt;
  text-align: center;
}
#settingsPaneLabel {
  font-size: 20pt;
  text-align: center;
}
.settingsHeadings {
  text-align: left;
  font-size: 16pt;
  margin-left: 15%;
}
#polyglotLanguageSwitcher {
  margin-left: 15%;
  height: 10px;
  margin-bottom: 40px;
}
#bgsThumbsContainer {
  display: inline-block;
  width: 65.5%;
  max-width: 65.5%;
  max-height: 201px;
  background-color: #f9f9f9;
  display: inline-block;
  margin: 3%;
  margin-left: 15%;
  margin-right: 15%;
  overflow: scroll;
  padding: 2%;
  border-radius: 10px;
}
#bgsThumbsContainer > div > img {
  border: 1px solid #d3d3d3;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  margin: 5px;
}
#urlInput {
  margin: 25px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 14pt;
  height: 40px;
  width: 66%;
  z-index: 1001;
  border-radius: 10px;
  outline: none;
  font-family: myFirstFont;
  font-size: 13pt;
  border: solid 1px rgba(50,50,50,0.3);
  padding-left: 20px;
  border-radius: 20px;
}
.play {
  width: 4%;
}
.play img {
  width: 30px !important;
  height: 30px !important;
}
#pauseButton {
  display: none;
}
.prev {
  width: 4%;
  margin-left: 3% !important;
}
.prev img {
  width: 30px;
  height: 30px;
}
.next {
  width: 4%;
}
.next img {
  width: 30px;
  height: 30px;
}
.repeat {
  width: 4%;
}
.repeat img {
  width: 30px !important;
  height: 30px !important;
}
.shuffle {
  width: 4%;
}
.shuffle img {
  width: 30px !important;
  height: 30px !important;
}
.share {
  margin-left: 0px;
  margin-right: 0px;
  width: 4%;
}
.share img {
  width: 30px !important;
  height: 30px !important;
}
.playlist,
.facebook {
  background: rgba(255,255,255,0.5);
  border-right: 1px solid rgba(166,166,166,0.73);
  display: inline-block;
  transform-style: preserve-3d;
  transition: 0.3s;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll !important;
  overflow: hidden;
  width: 405px;
  min-width: 400px;
}
.playlist {
  height: 595px;
}
.playlist:hover {
  overflow-y: scroll !important;
}
.playlist > div,
.facebook > div {
  border-bottom: 1px solid rgba(123,123,123,0.13);
  border-left: 3px solid rgba(140,140,140,0);
  margin-top: 0px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 300ms linear;
  transition: all 300ms linear;
  cursor: pointer;
}
.playlist > div,
.facebook > div,
.playlist,
.wrapper-dropdown-3,
#dropdownSlider,
#lyricsHolder  div {
  -webkit-transform: translate3d(0, 0, 0);
}
.playlist > div div,
.facebook > div div {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}
.spanContainer {
  width: 50%;
  height: 40px;
}
.playlist > div:hover,
.facebook > div:hover {
  border-left: 3px solid rgba(140,140,140,0.4);
}
> div:hover span {
  color: #fff;
}
.artInPlaylist img {
  height: 40px;
  width: 40px;
  border-radius: 30px;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar:hover {
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(131,131,131,0.3);
}
::-webkit-scrollbar-thumb:hover {
  width: 7px;
}
@font-face {
  font-family: myFirstFont;
  src: url("hui/helvetica.ttf");
}
.songActive {
  border-left: 3px solid rgba(124,177,201,0.82) !important;
}
.recActive {
  border: 1px solid #3491bf !important;
}
.playlist span,
.facebook span {
  cursor: pointer;
  margin: 0px;
  white-space: nowrap;
  font-family: myFirstFont, "Times", serif;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.facebook {
  display: none;
  right: 25px;
}
.artist {
  cursor: default;
  color: #707070;
  font-size: 12pt;
}
.title {
  cursor: default;
  color: #525252;
  font-size: 12pt;
}
.spanActive,
.art {
  width: auto;
  display: inline-block;
  margin-left: -5px;
}
.artHolder {
  background: rgba(255,255,255,0.5);
  display: inline-block;
  font-size: 18pt;
  font-family: myFirstFont, "Times", serif;
  overflow: auto;
  height: 595px;
  width: 595px;
  color: rgba(0,0,0,0.7);
}
.artHolder > img {
  margin: 0 auto;
  max-height: 560px !important;
  max-width: 575px !important;
  border-radius: 5px;
  box-shadow: -1px -1px 8px rgba(50,50,50,0.16);
  box-shadow: -1px -1px 8px rgba(50,50,50,0.16);
  box-shadow: -1px -1px 8px rgba(50,50,50,0.16);
}
#signature {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 101 !important;
  font-size: 48pt;
  font-family: signature;
  border-radius: 5px;
}
#lyricsHolder {
  overflow: hidden;
  text-align: center;
  display: none;
  font-family: myFirstFont, "Times", serif;
  color: rgba(0,0,0,0.7);
  background: rgba(255,255,255,0.5);
  height: 595px;
  width: 595px;
}
#recContainer {
  height: 92.5%;
  overflow-y: auto;
  padding-top: 42px;
}
#recContainer > div {
  display: inline-block;
  background: rgba(255,255,255,0.51);
  border: 1px solid #d2d2d2;
  padding: 10px;
  border-radius: 5px;
  margin: 6px;
  cursor: pointer;
}
#recContainer > div img {
  width: 105px;
  border-radius: 5px;
}
#recContainer > div span {
  display: inline-block;
  font-size: 12pt;
  max-width: 105px;
  height: 40px;
  overflow: hidden;
}
#recContainer > div:hover {
  border: 1px solid #949494;
}
.recControls {
  position: absolute;
}
.RecPauseButton {
  display: none;
}
#youtube {
  max-height: 595px !important;
  max-width: 595px !important;
  height: 595px !important;
  width: 595px !important;
  display: none;
  z-index: 4;
  background: rgba(255,255,255,0.5);
  font-size: 12pt;
  font-family: myFirstFont, "Times", serif;
  overflow: auto;
  color: rgba(0,0,0,0.7);
  overflow-y: scroll !important;
  overflow-x: scroll !important;
}
#containterYoutubeOutMost {
  overflow-x: scroll;
  width: 100%;
}
#youtubeThumbsContainer {
  display: block;
  max-height: 300px;
  overflow-y: hidden;
  margin-bottom: 10px;
}
.youtubeResultContainer {
  height: 140px;
  width: 110px;
  position: relative;
  display: inline-block;
  margin: 16px;
  margin-bottom: 0px;
  margin-top: 10px;
  transform: translate3d(0, 0, 0);
}
.youtubeResultContainer > img {
  border-radius: 5px !important;
  border-radius: 5px !important;
}
.youtubeResultContainer > span {
  text-align: center;
  font-size: 10pt !important;
  height: 40px;
  font-family: myFirstFont;
  overflow: hidden;
  display: inline-block;
}
#youtubeResultContainer span {
  font-size: 12pt;
  font-family: myFirstFont, "Times", serif;
}
#youtubeContainer {
  height: 100%;
}
#YTPlayer {
  position: absolute;
  z-index: 6000;
}
.flip {
  backface-visibility: hidden;
  -webkit-transform: translateX(0);
  -moz-backface-visibility: hidden;
  -moz-transform: translateX(0);
}
.flip.out {
  transform: rotateY(-90deg) scale(0.9);
  -webkit-animation-name: flipouttoleft;
  -webkit-animation-duration: 175ms;
  -moz-transform: rotateY(-90deg) scale(0.9);
  -moz-animation-name: flipouttoleft;
  -moz-animation-duration: 175ms;
}
.flip.out.reverse {
  transform: rotateY(90deg) scale(0.9);
  -webkit-animation-name: flipouttoright;
  -moz-transform: rotateY(90deg) scale(0.9);
  -moz-animation-name: flipouttoright;
}
.flip.in {
  animation-name: flipintoright;
  -webkit-animation-duration: 225ms;
  -moz-animation-name: flipintoright;
  -moz-animation-duration: 225ms;
}
.flip.in.reverse {
  animation-name: flipintoleft;
  -moz-animation-name: flipintoleft;
}
.miniPlayer img {
  opacity: 0.4;
  width: 20px;
  height: 20px;
}
.button,
.wrapper-demo {
  display: inline-block;
  margin-right: 10px !important;
  padding: 4px 12px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  margin-bottom: 0;
  font-family: myFirstFont;
  font-size: 12pt !important;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #494949;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border-radius: 4px;
}
.buttonPressed {
  text-decoration: underline;
}
.button:hover {
  opacity: 0.8 !important;
}
.button:active {
  opacity: 1 !important;
}
.settings {
  border-bottom: 1px solid #bfbfbf;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  borderleft-radius: 10px;
  borderright-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e5e5));
  padding-top: 10px;
  width: 1000px;
  height: 40px;
  z-index: 2000 !important;
}
#VKConnectbutton {
  display: none;
}
#VKSearchEnabler {
  width: 20px !important;
  display: none;
  position: absolute;
  z-index: 520;
  margin-left: 165px;
  margin-top: 0.2px;
  height: 22px;
  border-left-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-right-radius: 0px !important;
  border-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px solid #fff !important;
}
.searchBar {
  display: inline-block;
  right: 0px !important;
}
.tagsSearchImage {
  background: rgba(255,255,255,0.1) url("images/search-small.svg") no-repeat;
  padding: 4px 4px 4px 0px;
  height: 13px;
}
#tags {
  display: inline-block;
  margin-left: 165px;
  font-family: myFirstFont;
  font-size: 13pt;
  border: solid 1px rgba(50,50,50,0.3);
  height: 22px;
  width: 138px;
  right: 0px !important;
  padding-left: 30px;
  border-radius: 20px;
  border-radius: 20px;
  border-radius: 20px;
}
#tags:focus {
  outline-width: 0;
  background: #fff url("images/search-small.svg") no-repeat;
}
.tagswithVK {
  display: inline-block;
  margin-left: 210px !important;
  font-family: myFirstFont;
  font-size: 13pt;
  border: solid 1px rgba(50,50,50,0.3);
  height: 22px;
  width: 100px !important;
  right: 0px !important;
  padding-left: 30px;
  border-radius: 20px;
  borderleft-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.VKAddButton {
  right: 5px !important;
  display: inline-block;
  font-size: 12pt !important;
}
.svg {
  border: 1px solid rgba(0,0,0,0.08);
  width: 120px;
  border-radius: 17px;
  height: 30px;
  background: rgba(0,0,0,0.05);
}
@-moz-keyframes flipouttoleft {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-90deg) scale(0.9);
    transform: rotateY(-90deg) scale(0.9);
    transform: rotateY(90deg) scale(0.9);
    transform: rotateY(90deg) scale(0.9);
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
  }
}
@-webkit-keyframes flipouttoleft {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-90deg) scale(0.9);
    transform: rotateY(-90deg) scale(0.9);
    transform: rotateY(90deg) scale(0.9);
    transform: rotateY(90deg) scale(0.9);
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
  }
}
@-o-keyframes flipouttoleft {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-90deg) scale(0.9);
    transform: rotateY(-90deg) scale(0.9);
    transform: rotateY(90deg) scale(0.9);
    transform: rotateY(90deg) scale(0.9);
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
  }
}
@keyframes flipouttoleft {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-90deg) scale(0.9);
    transform: rotateY(-90deg) scale(0.9);
    transform: rotateY(90deg) scale(0.9);
    transform: rotateY(90deg) scale(0.9);
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0);
  }
}
