@media all and (orientation:portrait) { 
    body {
        /*-webkit-text-size-adjust:100%;*/
        /*background: url("bg.jpg");*/
        width: 90% !important;
        font-family: myFirstFont;
    } 
    #leftPanel{
      margin-top: 270px;
      position: absolute;
      top: 300 !important;
      width: 100% !important;
    }
     .page .row {
      position: absolute;
      /*top: 300px;*/
      width: 90% !important;
      height: 500px;
      display: block;
      vertical-align: top;
    }
    .span_4 {
      /*slider*/
      /*display: none !important;*/
        top: 10px;
        z-index: 40;
        position: absolute;
        left: 0;
        float: left;
        width:90% !important;
        margin-left: 5% ;
        display: block;
    }
    .span_2{
      height: 150px !important;
    }
    #order{
      position: absolute;
      width: 87% !important;
    }
} 
body {
  -webkit-text-size-adjust:100%;
  /*background: url("bg.jpg");*/
  font-family: myFirstFont;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#972b00+0,7a1802+100 */
  background: rgb(151,43,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(151,43,0,1) 0%, rgba(122,24,2,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(151,43,0,1)), color-stop(100%,rgba(122,24,2,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(151,43,0,1) 0%,rgba(122,24,2,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(151,43,0,1) 0%,rgba(122,24,2,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(151,43,0,1) 0%,rgba(122,24,2,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(151,43,0,1) 0%,rgba(122,24,2,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#972b00', endColorstr='#7a1802',GradientType=0 ); /* IE6-9 */
background-repeat:no-repeat;
  background-size: cover;
  background: url("bg.png");

}
@font-face {
  font-family: myFirstFont;
  src: url("../font.otf");
}
#leftPanel{
	width: 32.666%;
	height: 550px;
	display: inline-block;
	vertical-align: top;
}
#logo{
  height: 60px;
  margin: 10px;
  display: inline-block;
}
#categories {
  text-align: right;
  float: right;
  width: 75%;
  height: 60px;
  /*margin: 22px 0 0 17.9215411792%;*/
    margin: 10px;
  /*background-color: rgb(174, 34, 34);*/
}
#logoMenuContainer{
  width: 1108px;
}
#categories > a{
  margin: 5px;
  color: white;
  text-decoration: none;
  font-family: myFirstFont;
  line-height: 60px;
}

#categories > a:hover{
  color: rgba(255, 255, 255, 0.5);
}

.popoveroption{
  font-size: 13pt;
}

.popoveroption:hover{
  /*background:grey;*/
  color:blue;
}

#tags {
    display: inline-block;
    margin-right: 20px;
    font-family: myFirstFont;
    font-size: 13pt;
    border: solid 1px rgb(201, 201, 201);
    height: 31px;
    width: 238px;
    right: 0px !important;
    padding-left: 30px;
    border-radius: 20px;
    border-radius: 20px;
    border-radius: 20px;
    color: white;
    outline: none;
}
.tagsSearchImage {
    background: rgba(255,255,255,0.1) url("search-small.svg") no-repeat;
    padding: 4px 4px 4px 0px;
    height: 13px;
}

#searchBar{
  display: inline-block;
}
.span_2,
.main-features li {
  /*width:32.6666666667%;*/
  height: 465px;
  font-size: 16pt;
  line-height: 1.3;
  overflow-y: scroll;
  display: block;
  width: 90%;
  padding-left: 5px;
}
#stock{
  margin: 10px;
}
.page .row {
    margin-bottom: 24px;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
}
.span_1 {
    width:15.8333333333%;
}

.span_3 {
    width:49.5%;
}
.span_4 {
    width:66.3333333333%;
    display: inline-block;
}
h2 {
  font-size: 24px;
  margin: 0px;
  margin-bottom: 16px;
}
.clearfix {
    zoom:1;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.fullWidth {
  width: 100%;
  overflow: hidden;
  
}
.button{
  display: block;
  height: 50px;
  line-height: 50px;
  width: 94%;
  font-size: large;
  border: 1px solid rgb(0, 128, 203);
  border-radius: 5px;
  color: rgb(0, 123, 195);
  text-align: center;
  background: rgba(255, 255, 255, 0.91);
  cursor: pointer;

  transition: all 300ms linear;
  transition: all 300ms linear;
}
.button:hover{
	  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  background: rgb(0, 161, 255);

  transition: all 300ms linear;
  transition: all 300ms linear;
}
.input{
  width: 300px;
  border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ddd !important;
  /*width: 100%;*/
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  transition: background ease .2s;
  -ms-transition: background ease .2s;
  -webkit-transition: background ease .2s;
  -moz-transition: background ease .2s;
  -o-transition: background ease .2s;
  padding: 12px 20px 12px 55px;
  margin: 0px auto;
  display: block !important;
  font-family: myFirstFont;
  font-size: 12pt;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#submitButtonLogin{
	width: 300px;
	margin: 0px auto;
}
.dialog-inner input, .dialog-inner  span{
    margin-bottom: 20px;
}



.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
}

.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}

.dialog__content {
	width: 50%;
	max-width: 560px;
	min-width: 290px;
	background: #fff;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
}

.dialog--open .dialog__content {
	pointer-events: auto;
}

/* Content */
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}