.jquery-ui-like {
	border-radius: 10px;
	background: #FFF;
	border: 1px solid #AAA;
	overflow: hidden;		
}
.jquery-ui-like div {     opacity:0.7;
	background-image: url(pbar-ani.gif);
	border-right: 1px solid #AAA;
}