

/* GLOBALS */

*,
*:after,
*:before {
   @ -webkit-box-sizing: border-box;
   @ -moz-box-sizing: border-box;
   @ box-sizing: border-box;
    padding: 0;
    @margin: 0;
}

::selection {
    /*background: transparent; */
}

::-moz-selection {
    background: transparent; 
}
.selector
{
  margin-left: 1%;
  float:left;
  display:inline-block;
  width:20%; height:3%;
  // margin:2%;
  margin-top:0px !important; 
  //margin-bottom:1px;
  //opacity:0.8;
  /*position: absolute !important;*/
  z-index:510 !important;
  /*background:yellow;*/
  min-width: 400px;
}

.selector select
{
  z-index:510;
  width:100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: myFirstFont;
  color: #525252;
  font-size: 14pt;  
}
.wrapper-demo {
    /*background: white;*/
    position: absolute;
    @*zoom: 1;
    font-family: myFirstFont;
    @font-weight: 400;
    width:130px;
    z-index: 50000;
    display: inline-block;

}
/*for context menu to be on top*/
.ui-menu-icons
{
    z-index: 1000;
}
#dd >img
{
 width: 17px;
 margin-right: 5px;
}

@.wrapper-dropdown-3 > span{padding-bottom: 10px !important;margin-left:5px; color: #C1C1C1;vertical-align: 7px !important;}
.wrapper-dropdown-3 > span{display: inline-block;}
.wrapper-dropdown-3 {
    /* Size and position */
        //padding-bottom: 200px !important;
    position: relative;
    @width: 200px;
    margin: 0 auto;
    @padding: 10px;

    /* Styles */
    @background: #fff;
    border-radius: 7px;
    @border: 1px solid rgba(0,0,0,0.15);
    @box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    @font-weight: bold;
    @color: #525252;
    /*color: #525252;*/
    color: white;
}
.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 0;*/
    /*right: 0;*/

    /* Styles */
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.17);
    border-top: 1px solid rgba(0,0,0,0.17);
    /*box-shadow: 0 0 5px rgba(0,0,0,0.1);*/
    font-weight: normal;
    -webkit-transition: all 0.05s linear;
    -moz-transition: all 0.05s linear;
    -ms-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
    list-style: none;

    /* Hiding */
    /*opacity: 0;*/
    pointer-events: none;
}
#addNewPlaylist
{
    background: rgba(255, 255, 255, 0.51);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.dropdown
{
  margin-bottom: 0px !important;
}
#newPlaylistName
{
    width:70px;
    font-family: myFirstFont;
    font-size: 13pt;  
    border:solid 1px rgba(50, 50, 50, 0.3);
    height: 22px;
    margin-left: 5px;
    @-webkit-box-shadow: -1px -1px 8px rgba(50, 50, 50, 0.16);
    @-moz-box-shadow:    -1px -1px 8px rgba(50, 50, 50, 0.16);
    @box-shadow:         -1px -1px 8px rgba(50, 50, 50, 0.16);
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    //border:1px solid #61c419;
    border-radius:5px;
}
#newPlaylistName:focus {
    outline-width: 0;
}
#dropdownSlider
{
    display: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #525252;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);

}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/*#addNewPlaylist.active
{
    opacity: 1;
}*/

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}