

/* GLOBALS */

*,
*:after,
*:before {
   @ -webkit-box-sizing: border-box;
   @ -moz-box-sizing: border-box;
   @ box-sizing: border-box;
    padding: 0;
    @margin: 0;
}

::selection {
    /*background: transparent; */
}

::-moz-selection {
    background: transparent; 
}
.selector
{
  margin-left: 1%;
  float:left;
  display:inline-block;
  width:20%; height:3%;
  // margin:2%;
  margin-top:0px !important; 
  //margin-bottom:1px;
  //opacity:0.8;
  /*position: absolute !important;*/
  z-index:510 !important;
  /*background:yellow;*/
  min-width: 400px;
}

.selector select
{
  z-index:510;
  width:100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: myFirstFont;
  color: #525252;
  font-size: 14pt;  
}
.wrapper-demo {
    /*background: white;*/
    position: absolute;
    /*@*zoom: 1;*/
    font-family: myFirstFont;
    /*@font-wei÷ght: 400;*/
    width:130px;
    z-index: 50000;
    display: inline-block;

}
.wrapper-demo.active{
    /*background: white;*/
}
/*for context menu to be on top*/
.ui-menu-icons
{
    z-index: 1000;
}
#dd >img
{
 width: 17px;
 margin-right: 5px;
}

@.wrapper-dropdown-3 > span{padding-bottom: 10px !important;margin-left:5px; color: #C1C1C1;vertical-align: 7px !important;}
.wrapper-dropdown-3 > span{display: inline-block;}
.wrapper-dropdown-3 {
    /* Size and position */
        /*//padding-bottom: 200px !important;*/
    position: relative;
    /*@width: 200px;*/
    margin: 0 auto;
    /*@padding: 10px;*/

    /* Styles */
    /*@background: #fff;*/
    border-radius: 7px;
    /*@border: 1px solid rgba(0,0,0,0.15);*/
    /*@box-shadow: 0 1px 1px rgba(50,50,50,0.1);*/
    cursor: pointer;
    outline: none;

    /* Font settings */
    /*@font-weight: bold;*/
    /*@color: #525252;*/
    /*color: #525252;*/
    color: white;
}
.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 0;*/
    /*right: 0;*/

    /* Styles */
    /*background: white;*/
    border-bottom: 1px solid rgba(0,0,0,0.17);
    border-top: 1px solid rgba(0,0,0,0.17);
    /*box-shadow: 0 0 5px rgba(0,0,0,0.1);*/
    font-weight: normal;
    -webkit-transition: all 0.05s linear;
    -moz-transition: all 0.05s linear;
    -ms-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
    list-style: none;

    /* Hiding */
    /*opacity: 0;*/
    pointer-events: none;
}
#addNewPlaylist
{
    /*background: rgba(255, 255, 255, 1);*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.dropdown
{
  margin-bottom: 0px !important;
}
#newPlaylistName
{
    vertical-align: sub;
    width:70px;
    font-family: myFirstFont;
    font-size: 13pt;  
    border:solid 1px rgba(50, 50, 50, 0.3);
    height: 22px;
    margin-left: 5px;
    @-webkit-box-shadow: -1px -1px 8px rgba(50, 50, 50, 0.16);
    @-moz-box-shadow:    -1px -1px 8px rgba(50, 50, 50, 0.16);
    @box-shadow:         -1px -1px 8px rgba(50, 50, 50, 0.16);
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    //border:1px solid #61c419;
    border-radius:5px;
}
#newPlaylistName:focus {
    outline-width: 0;
}
#dropdownSlider
{
    display: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #525252;
    border-bottom: 1px solid rgba(230, 232, 234, 0.42);;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);

}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/*#addNewPlaylist.active
{
    opacity: 1;
}*/

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}

/*for autocomplete*/
#ui-id-1
{
  width: 189px !important;
  background: rgba(255, 255,255, 0.9); 
  border-radius: 10px;
  padding: 5px;
}
.ui-menu .ui-menu-item
{
  font-size: 16px;
  margin-top: 5px;
}
.ui-autocomplete 
{
 font-family: myFirstFont;
 font-size:14pt;
 max-width:20%;
 max-height: 591px;
 overflow-y: auto; 
 overflow-x: hidden; 
}  
* html .ui-autocomplete 
{   
  height: 600px;  
}  
/*for autocomplete*/
.morph-shape svg path {
fill: #FFFFFF;
}
.morph-shape, .morph-shape svg {
position: absolute;
width: 100%;
top: 0;
left: 0;
}
.morph-shape {
height: 30px;
-webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.morph-shape svg {
height: 100%;
}
.menu {
  border-radius: 4px;
width: 154px;
height: 30px;
/*margin: 2em auto;*/
position: absolute;
/*text-align: left;*/
cursor: pointer;
z-index: 0;
margin-left: -12px;
margin-top: -4px;
}

.menu .fa {
  vertical-align: top;
  line-height: 1.25;
  margin-right: 0.65em;
  font-size: 1.15em;
}

.menu__inner {
  list-style: none;
  padding: 0 1.25em;
  font-size: 1.3em;
  margin: 0;
  position: absolute;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu.menu--open .menu__inner {
  height: 310px;
}

.menu__inner li a {
  display: block;
  padding: 0.53em 0;
  line-height: 1.2;
  opacity: 0;
  color: #727476;
  pointer-events: none;
  outline: none;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.menu__inner li a:hover {
  color: #45484A;
}

.menu--open .menu__inner li a {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu--open .menu__inner li:nth-child(2) a {
  -webkit-transition-delay: 0.04s;
  transition-delay: 0.04s;
}

.menu--open .menu__inner li:nth-child(3) a {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}

.menu--open .menu__inner li:nth-child(4) a {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}

.menu--open .menu__inner li:nth-child(5) a {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}

.menu--open .menu__inner li:nth-child(6) a {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.morph-shape,
.morph-shape svg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.morph-shape {
  height: 30px;
  -webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.morph-shape svg {
  border-radius: 4px;
  height: 100%;
}

/*.menu.menu--open .morph-shape {
  height: 500px;
}*/
.morph-shape-open{
  height: 500px;
}

.morph-shape svg path {
  fill: #FFFFFF;
}
.shadowless
{
  box-shadow: none;
}
